@use './pagar';

.title-y-carrito{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.655);
    border-radius: 20px;
    height: 600px;
    margin-top: 15px;

    #title-carrito{
        background-color: rgba(255, 255, 255, 0.100);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: 300px;
        margin: 15px 0 0 25px;
        padding: 5px 0;
        text-align: center;
    }
    
    #section-carrito{
        margin: 0 25px;
        display: grid;
        grid-template-columns:300px;
        grid-template-rows: 120px 120px 120px 120px;
        background-color: rgba(255, 255, 255, 0.100);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 300px;
        height: 390px;
        justify-content: center;
        overflow: hidden;
        overflow-y: scroll;

        .cardsCarrito{
            background-color: white;
            height: 100px;
            width: 280px;
            margin: 10px;
            display: flex;
            justify-content: space-around;
            border-radius: 15px;
        }
        
        .nombreC{
            color: black;
            font-size: 17px;
            margin: 38px 0;
        }
        
        .precioC{
            color: red;
            font-size: 20px;
            margin: 35px 0;
        }
        
        .eliminar{
            background-color: white;
            border:none;
            color: red;
            font-size: 40px;
            height: 40px;
            margin: 25px 0;
        }
    }

    .precio-total{
        display: flex;
        justify-content: space-evenly;

        h2{
            margin: 30px 0 10px 0;
        }

        h1{
            color: red;
            margin: 26px 0 10px 0;
        }
    }

    #buttonPagar{
        background-color: #FF9900;
        color: white;
        border: 1px solid #FF9900;
        border-radius: 3px;
        padding: 10px 0;
        width: 130px;
        margin: 0 110px;
    }
    
    #buttonPagar:hover{
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.200);
    }
}

/*----------------scroll------------------------*/
#section-carrito::-webkit-scrollbar{
    width: 7px;
    background-color: rgba(255, 255, 255, 0.100);
    border-radius: 5px;
}

#section-carrito::-webkit-scrollbar-thumb{
    background-color: #FF9900;
    border-radius: 5px;
}